
<p-toast></p-toast>
   <div class="container-login">

    <span class="login100-form-title p-b-15">
        !Bienvenido/a!  Inicia Sesión
    </span>
    <form autocomplete="off"
    [formGroup]="miFormulario"
    (ngSubmit)="login()"
    >

    <div class="p-inputgroup wrap-input">
        
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input class="input" type="email" pTooltip="Escribe tu correo" formControlName="email" pPassword [feedback]="false" placeholder="Usuario">         

    </div>



    <div class="p-inputgroup wrap-input">
        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input class="input" type="password" pTooltip="Escribe tu contraseña" formControlName="password" [feedback]="false" pPassword placeholder="Contraseña">             
    </div>

    <button pButton type="button" type="submit" class="p-button-lg" label="Iniciar Sesión" [disabled]="miFormulario.invalid" ></button>
</form>



      <span class="txt1 p-b-17">
          ¿No tienes cuenta?
      </span>

      <a routerLink="/auth/register" class="txt2">
          Crear una aquí
      </a>
    


</div>
