.separator{
    width: 100%;
    margin-right: 5%;
    display: flex;
    align-items: center;
}
.separator > .p-inputgroup{
    margin-right: 20%;
}
.searchbar{
    position: fixed;
    left: 30%;
    max-width: 40%;
}
.nav-img :hover{
    cursor: pointer;

}

p-menubar > li{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
a.p-menubar-button{
    order: 3;
}
@media screen and (min-width:961px){
    :host ::ng-deep p-menubarsub {
        position: absolute;
        right: 5%;
    }

}
@media screen and (max-width:370px){
    .searchbar{
        left: 40%;
    }

}
.searchInput{
    display: flex;
    flex-direction: column;
}