<p-menubar [model]="items" >
    <ng-template pTemplate="start">
        <img src="../../../assets/images/logo_navbar.png" height="40" class="mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <div class="separator">
        <div class="p-inputgroup searchbar">
            <button type="button" pButton pRipple label="Todos"></button>
            <input type="text" pInputText placeholder="...">   
            <button type="button" pButton pRipple icon="pi pi-search"></button>      
        </div>
        
        <p-avatar #img pRipple [label]="inicial" (click)="menu.toggle($event)" pBadge value="4" size="large" shape="circle" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"></p-avatar>

        <p-menu #menu [popup]="true" [model]="items"></p-menu>
        </div>
    </ng-template>
    
</p-menubar>

