<p-toast></p-toast>
<p-blockUI [blocked]="blockUI"></p-blockUI>
<div class="dashboard-container" >
    <div class="carousel-container">
    <carousel class="carousel"
    [height]="500"
    [images]="images"
    [objectFit]="'cover'" 

        [loop]="true" 
        [autoplay]="true"  
        [pauseOnHover]="true" 
        [dots]="true" 
        [autoplayInterval]="4000" 
        [transitionDuration]="2000" 
        [cellsToShow]="1" 
        [borderRadius]="15" 
        [arrowsTheme]="'dark'"
        style="margin-top: 35px;"
        >

    </carousel>
</div>

    <h1 class="title">Productos con mayor rating</h1>
    <hr style="width:80%; size:3px; color:black">  
      <div class="container">
        <li *ngFor="let producto of products">
          <div class="card">
              <img [src]="producto.imagenes[0]">
              <h4>{{producto.name}}</h4>
              <p>{{producto.descripcion}}</p>
              <p-rating [(ngModel)]="producto.rating" [readonly]="true" [cancel]="false"></p-rating>
              <div class="group">
                <h2><sup>$</sup>{{producto.precio | number: '2.'}}RD</h2>
                <ng-container *ngIf="producto.cantidad <= 10 && producto.cantidad > 0"> <p-chip [label]="'¡Quedan ' + producto.cantidad + '!'"  styleClass="mr-2 custom-chip-lowstock"></p-chip></ng-container>
                <ng-container *ngIf="producto.cantidad <= 0"> <p-chip label="Agotado" styleClass="mr-2 custom-chip-nostock" ></p-chip></ng-container>
                <div *ngIf="producto.cantidad > 0">
                <p-button icon="pi pi-shopping-cart" [disabled]="producto.cantidad <= 0" (click)="op2.toggle($event)"></p-button>
                </div>
              </div>
          </div>
          <p-overlayPanel #agregar [showCloseIcon]="true"  #op2>
            <div class="selectCant">
              <div *ngIf="producto.cantidad > 5 else limited" >
              <label for="vertical" style="display: block">¿Cuántas unidades desea añadir?</label>
              <p-inputNumber [(ngModel)]="cantProd" [min]="1" [max]="5" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
              decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
              </div>
              <ng-template #limited>
                  <label for="vertical" style="display: block">¿Cuántas unidades desea añadir?</label>
              <p-inputNumber [(ngModel)]="cantProd" [min]="1" [max]="producto.cantidad" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
              decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
              </ng-template>
              
              <button pButton pRipple type="button" label="Agregar al carrito" class="p-button-rounded p-button-info" (click)="agregarAlCarrito(cantProd,producto,$event,op2)"></button>
          </div>
        </p-overlayPanel>
        </li>
      </div>

    
</div>
