<div class="dashboard-container" >
    <div class="carousel-container">
    <carousel class="carousel"
    [height]="500"
    [images]="images"
    [objectFit]="'cover'" 

        [loop]="true" 
        [autoplay]="true"  
        [pauseOnHover]="true" 
        [dots]="true" 
        [autoplayInterval]="4000" 
        [transitionDuration]="2000" 
        [cellsToShow]="1" 
        [borderRadius]="15" 
        [arrowsTheme]="'dark'"
        >

    </carousel>
</div>

    <p-dataView [value]="products">
        <ng-template let-product pTemplate="listItem">
            <div>
                {{product.name}}
            </div>
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div class="col-12 md:col-3">
                {{product.precio}}
            </div>
        </ng-template>
    </p-dataView>
</div>
