
<p-toast></p-toast>
<div *ngIf="productos && productos != null && productos.length > 0 else noProd">
    <div class="shopping-cart" (scroll)="true">
        <div class="products">
            <div class="card" *ngFor="let producto of productos" >
                <div class="card-content">
                    <div class="card-img">
                        <img [src]="producto.productoID.imagenes[0]">
                    </div>
                    <div class="card-text">
                        <h4>{{producto.productoID.name}}</h4>
                        <strong>${{producto.productoID.precio}} RD</strong>
                        <strong>Cantidad: {{producto.cantidad}} </strong>
                        <div *ngIf="producto.cantidad > 1">
                            <strong>Subtotal: ${{producto.cantidad * producto.productoID.precio}}RD </strong>
                        </div>
        
                            <a (click)="quitarAlCarrito(producto._id)" class="add-cart">Quitar del carrito</a>
                        </div>
                </div>
            </div>
        </div>
    
        <div class="total">
            <h2>Resumen de compra</h2>
            <p-table [virtualScroll]="true" [scrollable]="true" scrollHeight="290px" [value]="productos" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
    
                        <td>{{product.productoID.name}}</td>
                        <td>${{product.productoID.precio}}RD</td>
                        <td>{{product.cantidad}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <h2>Total: ${{total}}RD</h2>
            <button pButton pRipple type="button" label="Comprar" class="p-button-raised p-button-success "s></button>
        </div>
    
    </div>
    
</div>
<ng-template #noProd><div class="noProd"><h1 > Tu carrito esta vacio</h1></div></ng-template>