
:host ::ng-deep .p-chip.custom-chip-lowstock {
    background: var(--primary-color);
    color: var(--primary-color-text);
    text-align: center;

}
:host ::ng-deep .p-chip.custom-chip-nostock {
    background: rgb(228, 130, 130);
    color: var(--primary-color-text);
}

:host ::ng-deep .p-dropdown {
    width: 14rem;
    font-weight: normal;
}
:host ::ng-deep .product-name {
    font-size: 1.5rem;
    font-weight: 700;
}
:host ::ng-deep .product-description {
    margin: 0 0 1rem 0;
}
:host ::ng-deep .product-category-icon {
justify-self: center;
align-self: center;
    margin-right: 0.5rem;
}
:host ::ng-deep .product-category {
    font-weight: 600;
    display: flex;
    flex-direction: row;
}


:host ::ng-deep .product-grid-item {
    margin: 0.5em;
    border: 1px solid #dee2e6;
}
:host ::ng-deep .product-grid-item .product-grid-item-top, :host ::ng-deep .product-grid-item .product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
:host ::ng-deep .product-grid-item img {
    width: auto;
    max-width: 100%;
    height: 220px;
    margin: 2rem 0;
}
:host ::ng-deep .product-grid-item .product-grid-item-content {
    text-align: center;
}
:host ::ng-deep .product-grid-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
}
.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}
@media screen and (max-width: 576px) {
    :host ::ng-deep .product-list-item {
        flex-direction: column;
        align-items: center;
   }
    :host ::ng-deep .product-list-item img {
        width: 75%;
        margin: 2rem 0;
   }
    :host ::ng-deep .product-list-item .product-list-detail {
        text-align: center;
   }
    :host ::ng-deep .product-list-item .product-price {
        align-self: center;
   }
    :host ::ng-deep .product-list-item .product-list-action {
        display: flex;
        flex-direction: column;
   }
    :host ::ng-deep .product-list-item .product-list-action {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
   }
}

.noProd {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: table;
 }
.noProd >h1{
   display: table-cell;
   vertical-align: middle;
}
.selectCant{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.selectCant > *{
    margin-bottom: 5%;
}
.categories{
    display: flex;
    flex-direction: row;
}