<h1 class="title">
    Informacion personal <br>
    Posiciones
    <div class="rotate-words">
        <span style="--d: 0s">Fronetend.</span>
        <span style="--d: 4s">Backend.</span>
        <span style="--d: 8s">Administrador.</span>
    </div>
</h1>

<div class="card">
<ul class="ul">

</ul>
<img src="https://scontent.fhex10-1.fna.fbcdn.net/v/t39.30808-6/217404076_169817661806587_5781375746569534642_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=aeZkQaaGn3MAX8V21X5&tn=KgahcS_8l_S5L2-_&_nc_ht=scontent.fhex10-1.fna&oh=00_AT8Vp924vwER1V4Qm8r07LBBdt0gDcLRInndD3bvXju2OQ&oe=63033854" alt="">
<div class="con-text">
    <h2>
        Brian Dariel Lorenzo
    </h2>
    <p>
        Mi matrícula es 2019-8375, soy de la asignación 
        Proyecto Final TDS y se me encargo el rol del Fronetend 
        en este Proyecto correspondiente a un supermercado.
    </p>
</div>
</div>

